<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <p>Nombre <input type="text" [(ngModel)]="nombre"></p>
  <p>Email <input type="text" [(ngModel)]="email"></p>
  <p>Mensaje<input type="text" [(ngModel)]="mensaje"></p>
  <p>2+3=?<input type="text" [(ngModel)]="validacion"></p>
  <button (click)="afegircontacte()">Enviar</button>
</div>

<app-contacte [data]="contactos"></app-contacte>

